* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.text-color {
    color: white;
}

.bg-lightgray {
    background-color: #f8f9fa;
}

.bg-darkgray {
    background-color: #6c757d;
}

.bg-blu {
    background-color: #007bff;
}

.bg-green {
    background-color: #28a745;
}

.bg-red {
    background-color: #dc3545;
}

.box {
    padding: 20px;
}